// Place all the styles related to the users controller here.
// Each page is denoted by '.user.action'
// The action corresponds to the controller action leading to the view

.users.new{
   // font-family: 'Josefin sans', sans-serif;
   // Contains the content in the splash/sign up page
   .row{
      background: url('Trippypic4.jpg')no-repeat center center fixed;
      background-size: cover;
      font-family: 'Josefin sans', sans-serif;
      color: white;
      padding: 25px;
      // The actual form div in the page
      .logform{
         color: #ff6f00;
         background: rgba(255,255,255,0.3);
         }
   }



}

// Styles the image of the phones on the splash page to be responsive
@media(max-width: 768px){
   .phoneimage{
      width: 100%;
   }
}

// Profile Page Code Block
.users.show{
   p {
      font-size: 1.1em;
   }

   font-family: 'Josefin sans', sans-serif;
   .bio {
      margin-left: 20px;
      margin-right: 10px;
   }
   // This biopanel contains all the user attributes and button
   .biopanel{
      color: black;

      // div contained profile picture
      .pimage{
         height: 200px;

         // Profile picture itself
         .proimage{
            height: 100%;
            border-radius: 30px;
         }
      }
      // Edit Profile button
      .editor{
         color:white;
      }
   }

   .like_library{
      margin: 0;
      padding: 10px 0;
   }
   .review_library{
      margin-top: 20px;
      padding: 0 0px 30px;
      border-top: 1px solid lightgrey;

      h3 {
         margin-bottom: 20px;
      }
   }

   .photo_library{
      border-top: 1px solid #ddd;
      padding: 10px 0 5px;

   }

   .modal-image {
      margin: 0 auto;
      height: 340px;
   }

   #user-activity {
      padding: 0;
      // border-left: 1px solid #ddd;
   }

   .glyphicon-star {
      font-size: 1.2em;
   }

   .stars {
      margin-left: -.6em;
   }

   .review-location-name {
      font-size: 1.1em;
      margin-right: 5px;
   }

   .box-top {
      margin-top: 10px;
   }

   .review-location-content {
      font-style: italic;
   }

   .user-review-container {
      border-bottom: 1px solid #ddd;
      margin-right: 30px;
   }

   .photo-library-header {
      margin-bottom: 20px;
   }

   .mush-icon {
      height: 20px;
      margin-top: -5px;
   }

   .glyphicon-remove {
      color: #E2584A;
   }

   .like-p {
      float: left;
      width: 30%;
   }


   .user-photo {
      width: 200px;
      height: 200px;
   }

   .photo-box {
      float: left;
      margin-right: 20px;
      text-align: center;
   }

   .caption {
      margin-top: 10px;
      width: 200px;
   }

}


.users.edit {
   h1{
      padding-left: 34px;
      margin-bottom: 30px;
   }
}



@media (max-width: 992px) {
   .users.show {
      .like-p {
         width: 50%;
      }
   }
}

@media (max-width: 768px) {
   .users.show {
      .bio-panel {
         // border-bottom: 1px solid #ddd;
      }
      #user-activity {
         border-left: none;
      }

   }
}



